@model IEnumerable<AppUser>

@{
	Layout = "_AdminLayout";
	ViewBag.Title = "All Users";
}

<!-- MODAL TRIGGER -->
<a href="#" class="col-sm-3 btn btn-warning my-4" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus"></i> Add User</a>
<!-- MODAL -->
@await Component.InvokeAsync(nameof(UpdateUser), new { modalId = "addUserModal" })

<div class="card">
	<div class="col-md-6 m-auto">

		<div asp-validation-summary="All" class="text-danger"></div>

		@if (TempData["Message"] != null)
		{
			<div class="text-success">@TempData["Message"]</div>
		}
	</div>
	@if (Model.Count() == 0)
	{
		<div class="col-sm-3 text-center mt-2">No User Accounts</div>
	}
	else
	{
		int i = 0;

		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			@foreach (var item in Model)
			{
				<tr>
					<td>@(++i)</td>
					<td>@item.UserName</td>
					<td>@item.Email</td>
					<td>@(item.RoleName ?? "None")</td>
					<td>
						<form class="" asp-action="Delete" method="post">
							<a class="btn btn-secondary" href="#" data-toggle="modal" data-target="@($"#editUserModal-{item.Id}")">
								<i class="fa fa-angle-double-right"></i>
								Edit
							</a>
							<input type="hidden" name="UserId" value="@item.Id" />
							<button class="btn btn-outline-secondary" type="submit">Delete</button>
						</form>
						<!--MODAL-->
						@await Component.InvokeAsync(nameof(UpdateUser), new { userId = item.Id, modalId = $"editUserModal-{item.Id}" })
					</td>
				</tr>
			}
		</table>
	}
</div>
